header {
    position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
   display: flex;
   align-items: center;
   box-shadow: 0 0 25px 0 black;
   background: black;
  }

  header * {
    display: inline;
  }

  header li {
    margin: 20px;

  }

  header li a {
    color: ghostwhite;
    text-decoration: none;
  }

  body {
    height: 125vh;
background-color: #e3e3e3;
font-family: sans-serif;
margin-top: 80px;
padding: 30px;
  }

#navbar {
    float: left;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
  height: 80px;
}



.information {
    padding-top: 2em;
    align-items: center;
}

.contact {
    padding: 1em;
    border-color: black;
    width: auto;
    
}

.registration {
  padding: 40px;
}

 .information, .prior {
  max-width: 500px;
  margin: auto;
  text-align: center;
}


.prior {
  padding-top: 20px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

.intro {
  display: flex;
  margin: 1em;
}

img {
  width: 100px;
  border-radius: 1em;
}